.navbar{
    position: sticky;
    top: 0;
    z-index: 99999;
    transition: all .4s ease;
}

.hide{
    transform: translateY(-100%);
}

.navbar .container-first{
    background-color: #062056;
    padding:  10px 25px;
    max-height: 80px;
}

.navbar .logo{
    max-height: 60px;
}

.navbar .first-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    font-family: poppins;
}

.navbar .right{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;

}

.navbar .right .search {
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
    padding-left: 15px;

}

.navbar .search input{
    height: 100%;
    outline: none;
    border: none;
    padding: 12px 18px;
    background-color: #fff;
    color: #313131;
    font-size: 15px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    max-width: 600px;
    width: 100%;
}

.navbar .search button{
    height: 100%;
    outline: none;
    border: none;
    padding: 12px;
    background-color: #ffa400;
    color: #ffffff;
    font-size: 15px;
    border-radius: 0;
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}

.navbar .visit , .navbar .customer , .navbar .account{
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 0px 28px;
    border-right: 1px solid #2d4d90;
    font-size: 15px;
}

.navbar .account{
    border-right: none !important;
}


/* ========================== Second Container ================================= */

.navbar .container-second{
    background-color: #0c3f92;
    padding:  10px 25px;
}

.navbar .container-second nav ul{
    display: flex;
    list-style: none;
    column-gap: 45px;
    color: #fff;
    font-family: 'Poppins', Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}